/* --- Parallax Scroll Effect --- */

#shopify-section-template--19922643419348__hero_WrdxtR {
    position: sticky !important;
    top: 0;
    height: 100%;
    z-index: 0;
  }
  
  #shopify-section-template--19707495907540__product_list_qU3bEB {
    position: relative;
    z-index: 2;
    background-color: white;
  }
  
  main#MainContent {
    overflow: visible;
  }